
.row{
    background-color: rgb(236, 78, 16);
    text-align: center;
}
    
.title{
   color:white
}


aside{
    
    background-color: #4db6ac;
   
}






.dish-content{

    background:#E57373;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 10.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


    /* background-color: dimgray; */
 ;
text-align: center;
    
    
 
}

.dish-img{
     border: 10px solid #E57373;
     margin-top: 50px;
     
     
    
}
